root {
--c-black: #212121;
--c-white: #FFFFFF;
--c-grey: #757575;
--c-blue: #2196F3;
}

.body {
list-style-type: none;
font-family: Roboto;
color: #212121;
}

.header {
    width: 1600px;
    background: #FFFFFF;
}
.link {
    list-style-type: none;
font-family: Roboto;
font-weight: 500;
color: #212121;
line-height: 16px;
}
.link:hover{
    
    font-family: Roboto;
    font-weight: 500;
    width: 77px;
    color: #2196F3;
}

.ul {
list-style-type: none;
list-style: none;
margin: 0;
padding: 0;
font-size: 26px;
line-height: 31px;
}

.logo {
font-family: Raleway;
color:#212121;
width: 145px;
font-size: 26px;
line-height: 31px;
}

.web-end-two, .map,.end-contacts, .logo, .logo-end, .site-nav-lis, .ctn, .web-one, .link, .web-two, .end {
text-decoration: none;
}

.web-one{
color: #2196F3;
 }
.head {
}

.link-current{
color:#2196F3;
}
.ctn {
font-family: Roboto;
font-weight: 500;
color: #757575;
width: 135px;
}
.ctn:hover {
font-family: Roboto;
font-weight: 500;
color: #2196F3;
width: 135px; 
}
.site-nav-list {
list-style-type: none;
}
.title{
width: 696px;
height: 120px;
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.hero {
background-color: #212121;
padding-top: 200px;
padding-bottom: 200px;
}

.btn {
    background: #2196F3;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
}
.contacts {
    list-style-type: none;
}

.text-container {
display: flex;
font-family: Roboto;
}

.menu-text{
display: flex;
list-style-type: none;
}

.text-item{
width: 270px;
color: #212121;
font-size: 14px;
line-height: 16px;
}

.text-elements{
width: 270px;
color: #757575;
font-size: 14px;
line-height: 24px;
}

.text-elements-title{
    font-family: Roboto;
color: #212121;
}
.foto-elements{
display: flex;
flex-direction: column;
}
.foto_title {
width: 380;
text-align: center;
font-family: Roboto;
font-style: 700;
color: #212121;
font-size: 36px;
line-height: 42px;
}
.menu-foto{
list-style-type: none;
display: flex;
width: 1170px;
height: 386px;
align-items: center;
}
.site-nav-list {
    font-family: Roboto;
    font-style: 500;
    font-weight: 500;
    color: #212121;
}
.team{ 
background: #F5F4FA;
}
.team-title {
font-family: Roboto;
font-style: 700;
color: #212121;
width: 264px;
font-size: 36px;
line-height: 42px;
}

.team-menu{
list-style-type: none;
display: flex;
align-items: center;
}
.team-foto{
width: 270px;
}
.name{
font-family: Roboto;
font-weight: 500;
color: #212121;
font-size: 16px;
line-height: 19px;
}
.work{
font-family: Roboto;
color: #757575;
font-size: 16px;
line-height: 19px;
}

.end{
font-family: Roboto;
background: #212121;
text-decoration: none;
list-style-type: none;
}

.logo-end {
font-family: Raleway;
font-size: 26px;
line-height: 31px;
text-decoration: none;
}
.web-end-two {
    color: #FFFFFF;
    text-decoration: none;
}

.end-contakts{
font-style: 400;
font-family: Roboto;
background-color: #212121;
font-size: 14px;
line-height: 24px;
text-decoration: none;
list-style-type: none;
}
.map{
    list-style-type: none;
font-family: Roboto;
color: #FFFFFF;
width: 231px;
}
.end-contacts {

list-style-type: none;
font-family: Roboto;
width: 231px;
color: rgba(255, 255, 255, 0.6);
}

.end-contacts:hover {
    font-family: Roboto;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);  
}
.button_one {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background-color: #2196F3;
color: #FFFFFF;
}

.product-elements{
display: flex;
flex-wrap: wrap;
list-style-type: none;
}
.product_name{
font-family: Roboto;
width: 322px;
font-weight: 700;
color: #212121;
font-size: 18px;
line-height: 36px;
}
.product_tape{
font-family: Roboto;
font-weight: 4000;
width: 322px;
color: #757575;
font-size: 16px;
line-height: 30px;
}
.btnp{
display: flex;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: #F5F4FA;
color: #212121;
}
.btnp:hover {
display: flex;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: #2196F3;
color: #FFFFFF;
}